<h1>Time to work out!</h1>
<h2>Please add your exercise here:</h2>
<form id="entryForm">
  <label for="name">Workout Name:</label>
  <input type="text" name="name" id="name"><br>
  <label for="reps">Number of Reps:</label>
  <input type="number" name="reps" id="reps"><br>
  <label for="weight">Weight:</label>
  <input type="number" name="weight" id="weight"><br>
  <label for="date">Date in Month-Day-Year: </label>
  <input type="date" name="date" id="date"><br><br>
  Pounds:
  <input type="checkbox" name="unit" id="unit">
  <input type="submit" name="exerciseButton" value="Add Exercise" id="exerciseButton">
</form>

<table id="workoutTable">
    <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Unit</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
    {{#if results}}
        {{#each results}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.reps}}</td>
                <td>{{this.weight}}</td>
                <td>{{this.date}}</td>
                <td>{{this.pounds}}</td>
                <td><a href="/editWorkout?id={{this.id}}"><input type="button" value="Edit"></a></td>
                <td>
                    <input type="button" name="delete" value="Delete" onClick="removeData('dataTable',{{this.id}})">
                    <input type="hidden" id="delete{{this.id}}">
                </td>
            </tr>
        {{/each}}
    {{/if}}
</table>

<script src="./script.js"></script>
